<%- include('includes/header'); %>
<div class="container my-5">
    <h4 class="mb-3">Welcome to Authentication Mod</h4>
    <a class="btn btn-soft-primary" id="btn-facebook" href="/users/sign-in">
        Sign in
    </a>
</div>
<%- include('includes/footer'); %>
