<%- include('../includes/header'); %>
<div class="container my-5">
    <a class="m-3 btn btn-soft-danger" id="btn-google" href="/users/google">
        <span class="spinner-grow-sm"></span>
        Google
    </a>
    <a class="m-3 btn btn-soft-primary" id="btn-facebook" href="/users/facebook">
        <span class="spinner-grow-sm"></span>
        Facebook
    </a>
</div>
<%- include('../includes/footer'); %>
